#activityHeader{
    display:flex;
    justify-content: center; 
    margin-top: 5%;
    }

#createActivityForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    margin-right: 30%;
    margin-left: 30%;
    background: linear-gradient(red, lightgray);
    border: 3px black solid;
    padding: 1%;
  }

#createActivityForm label {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-bottom: 2%;
    padding: 10px;
}
  
#createActivityForm label input {
    margin-bottom: 10px;
    margin-bottom: 2%;
}
  
#activityDescription {
    display: flex;
    border: 3px solid black;
    flex-direction: column;
    margin: 10px;
    padding: 5px;
    background: linear-gradient(red, lightgray);
    justify-content: center;
}


  