#homeContainer{
    padding-top: 8%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#textContainer{
    background: linear-gradient(red, lightgray);
    padding: 22%;
    width: 100%;
    display:flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
}




